/* TaskForm.css */
.task-form-container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.task-form-container h2 {
  margin-bottom: 20px;
}

.task-form-container input,
.task-form-container textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-buttons button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-form-container.edit-mode ~ * {
  filter: blur(5px); /* Adjust the blur strength as needed */
  pointer-events: none; /* Disable pointer events on blurred elements */
}
.task-form-container.edit-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the background color and opacity */
  backdrop-filter: blur(5px); /* Apply a blur filter to the background */
  z-index: 999; /* Ensure it appears above other elements */
}


/* TaskList.css */
.task-list-container {
  margin-top: 20px;
}

.task-list {
  max-height: 300px; /* Adjust height as needed */
  overflow-y: auto;
}

.task-list h2 {
  margin-bottom: 10px;
}
  
.task-item-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-item-container h3 {
  margin-bottom: 10px;
}

.task-item-container p {
  color: #666;
}

.task-item-actions button {
  margin-right: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-item-actions button:hover {
  background-color: #f4f4f4;
}

  